.DS_Store
**/node_modules
**/.vscode
.eslintcache
# Setting for non zero-installs (https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)
**/.yarn/*
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/versions
**/.pnp.*
*.gz

# The cache for chain data in container
.local

# The cache for docker container dependency
.cargo

# will have compiled files and executables
**/target/
03_polkadot-js-api/kitties/substrate/.idea/vcs.xml
03_polkadot-js-api/kitties/substrate/.idea/substrate.iml
03_polkadot-js-api/kitties/substrate/.idea/modules.xml
03_polkadot-js-api/kitties/substrate/.idea/codeStyles/Project.xml
03_polkadot-js-api/kitties/substrate/.idea/codeStyles/codeStyleConfig.xml
